<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <!-- Include External CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Register</h2>
        <% if (message) { %>
            <p class="error-message"><%= message %></p>
        <% } %>
        <form action="/auth/register" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        
        <p class="register-link">Sudah punya akun? <a href="/auth/login">Klik di sini untuk login</a>.</p>
    </div>
</body>
</html>
